.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%; /* Adjust to your needs */
}

.carousel {
  display: flex;
  transition: transform 0.6 ease-in-out; /* Smooth transition */
}

.carousel-item {
  flex:  0 0 auto;
  width: 100%; /* Ensure items take the full width */
}

.carousel-item img {
  
  width: 100%; /* Ensure items take the full width */
  height: auto;
}


.img-fluid {
  max-width: 100%; /* Ensure the image scales */
  height: auto; /* Maintain aspect ratio */
}
